<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>James Adler - Lab 9</title>

	<link href="resources/css/foundation.css" rel="stylesheet" />
	<link href="resources/css/style.css" rel="stylesheet" />

    <script src="resources/js/vendor/modernizr.js"></script>
	
</head>
<body ng-app="TwitterFeed" ng-controller="TwitterCtrl">
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">Lab 9 - Twitter Feed</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	  	
	    <!-- Right Nav Section -->
	    <ul class="right">
	    	<li class="mainProg">
	    		<a href="#" class="small button" id="refreshTweets" ng-click="refreshTweets()">Refresh Tweets</a>
	    	</li>
	    	<li class="mainProg">&nbsp;	</li>
	    	<li class="mainProg">
	    		<a href="#" class="small button" id="moreTweets" ng-click="getMoreTweets()">Get More Tweets</a>
	    	</li>
	    </ul>
	  </section>
	</nav>

	<div data-alert class="alert-box" id="systemAlerts">
		<span id="alert"></span>
		<a href="#" class="close">&times;</a>
	</div>
		<input type="hidden" ng-model="numTweetsDB" />
    <div class="panel">
    	<div id="intro">
	    	<h3>Welcome!</h3>
	    	<p>Before you can continue using this awesome twitter feed, you must specify the number of tweets you want to work with.</p>
				<div class="row">
					<div class="large-4 medium-4 columns">
						<div class="row collapse">
							<label for="numTweets">Number of Tweets:</label>
							<div class="small-9 columns">
								<input type="number" ng-model="numberTweets" min="5" />
							</div>
							<div class="small-3 columns">
								<span class="postfix">Tweets</span>
							</div>
						</div>
					</div>
					<div class="large-8 medium-8 columns">
						<div class="row collapse">
							<div class="small-9 columns" style="padding-top:15px;">
								<input type="button" id="initializeDB" class="medium button" value="Initialize" ng-click="initialize()" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mainProg" id="main">
				<div class="row">
					<div class="large-4 medium-4 columns">
						<label for="csvName">CSV File Name:</label>
						<input type="text" ng-model="csvName">
						<a href="#" id="convertCSV" class="small button" ng-click="convertCSV()">Convert DB to CSV</a>
						<a id="CSVdownloadLink"></a>
					</div>
					
					<div class="large-4 medium-4 columns">
						<label for="jsonName">JSON File Name:</label>
						<input type="text" ng-model="jsonName">
						<a href="#" id="convertJSON" class="small button" ng-click="convertJSON()">Convert DB to JSON</a>
						<a id="JSONdownloadLink"></a>
					</div>
				</div>

				</div>

				<span id="liveStreamSwitch">Live Stream:</span>
      	<span class="switch small" >
				  <input id="liveStream" type="checkbox" ng-model="liveStream" ng-click="changeLiveStream()">
				  <label for="liveStream"></label>
				</span> 

				<ul id="twitterFeed"></ul>
	</div> 

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
	<script type="text/javascript" src="./main.js"></script>

	 <script src="resources/js/vendor/jquery.js"></script>
    <script src="resources/js/foundation.min.js"></script>
    <script>
      	$(document).foundation();
    </script>

</body>
</html>




