html {
	background-repeat: no-repeat;
	background-size: cover;
}

body, .jumbotron {
	background-color: transparent;
}

.container {
	border: 2px solid;
  border-radius: 25px;
  padding-bottom: 20px;
}

header, #currentWeather, .col-md-4 {
	text-align: center;
}
